*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
header{}

.container{
    width: 1000px;
    margin: 0 auto;
}
.logo{
    width: 20%;
    float: left;
    padding: 25px 0;
}
.logo img{}

.socail{width: 80%;float: left;padding: 25px 0;}
.socail-link{}
.icon{
    text-align: right;
}
.icon li{
    list-style: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-right: 12px;
}
.icon li a{}
.icon li .hand{
    position: absolute;
    bottom: 2px;
    left: 11px;
}
.icon li a:hover{}

span{
    width: 1000px;
    height: 1px;
    color: #4e4a4a36;
    border: 1px solid;
    top: 93px;
    left: 453px;
    position: absolute;
}

nav{
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.header-menu{}
.header-menu li{
    list-style: none;
    display: inline-block;
    /* overflow: hidden; */
    padding: 0 10px;
}
.header-menu li a{
    text-decoration: none;
    font-size: 19px;
    padding-right: 20px;
    color: #737373;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200;
}
.header-menu li a:hover{
    color: #00cf79;
    border-bottom: 3px solid;
    border-radius: 15px;
}


.banner-section{
    background: url(images/bannerbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{}
.banner img{
    margin: 0 auto;
    transform: translateY(80px);
    display: block;
}

.banner-content{}
.content{
    padding: 100px 0;
    text-align: center;
}
.content p{
    font-size: 22px;
    padding-top: 26px;
    color: #464c52;
}
.content a{
    text-decoration: none;
    background: #00cf79;
    text-transform: uppercase;
    padding: 15px 23px;
    font-size: 20px;
    display: inline-block;
    margin-top: 45px;
    color: white;
    border-radius: 5px 27px;
    animation-name:khs;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes khs{
	0%{background:#00cf79;}
	100%{background: orange;}
	0%{transform: translateY(0%);}
	100%{transform: translateY(100%);}
}


.video-section{
    background: gainsboro;
    overflow: hidden;
}
.video{
    width: 40%;
    float: left;
    padding: 45px 0;
}
.hvr{
    position: relative;
}
.hvr img{
    width: 100%;
}
.plus{
    position: absolute;
    top: 60;
    left: 0;
    text-decoration: none;
    transform: translate(151px, 101px);
    color: white;
    font-size: 27px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 0;
}
.look{
    top: -50%;
    left: 0%;
    text-decoration: none;
    transform: translate(186px, 109px);
    color: white;
    font-size: 27px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    color: seagreen;
}
.hvr:hover .plus{
	top: 50%;
	left: 40%;
	opacity: 1;
	transition: all 0.7s ease;
	transform: translate(-50%,-60%);
}
.hvr:hover .look{
	top: 0%;
	transform: translate(-50);
	opacity: 1;
	transition: all 0.7s ease;
}
.hvr:after{
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000b8;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease;
	transform: scale(0);
}
.hvr:hover:after{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000b8;
	top: 0;
	left: 0;
	opacity: 1;
	transform: scale(1);
}



.video-content{
    width: 60%;
    float: left;
}
.video-content h1{
    font-size: 35px;
    margin-top: 58px;
    margin-left: 97px;
}
.video-content p{
    margin-left: 95px;
    font-size: 22px;
    padding-top: 8px;
    color: #4e4e4a;
}

.foundo-section{
    background: #3e3e3e;
    overflow: hidden;
}
.foundo-section h1{
    width: 50%;
    float: left;
    padding: 55px 0;
    color: white;
    font-size: 37px;
}
.foundo-section a{
    margin-left: 162px;
    text-decoration: none;
    background: #00cf79;
    text-transform: uppercase;
    padding: 15px 23px;
    font-size: 20px;
    display: inline-block;
    margin-top: 47px;
    color: white;
    border-radius: 5px 27px;
}

footer{
    background: gainsboro;
}
footer p{
    width: 50%;
    float: left;
    padding: 41px 0;
    font-size: 30px;
    color: #c1c1c1;
}
.footer-menu{
    width: 50%;
    float: left;
    text-align: right;
}
.footer-menu li{
    list-style: none;
    display: inline-block;
    padding: 45px 0;
    position: relative;
}
.footer-menu li a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 29px;
    color: #737373;
    text-transform: uppercase;
}
.footer-menu li:after{
	content: "/";
	margin-left: 10px;
	position: absolute;
	font-size: 22px;
}